<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mycompany.codersnotebook"
    android:versionCode="2"
    android:versionName="1.1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".menu_screen_01"
            android:label="@string/title_activity_menu_screen_01" />

        <!-- Splash Screen -->
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CSS"
            android:label="@string/title_activity_css" />
        <activity
            android:name=".html_01"
            android:label="@string/title_activity_html_01" />
        <activity
            android:name=".html_02"
            android:label="@string/title_activity_html_02" />
        <activity
            android:name=".html_03"
            android:label="@string/title_activity_html_03" />
        <activity
            android:name=".html_04"
            android:label="@string/title_activity_html_04" />
        <activity
            android:name=".html_05"
            android:label="@string/title_activity_html_05" />
        <activity
            android:name=".html_06"
            android:label="@string/title_activity_html_06"></activity>
    </application>

</manifest>
